<h1>Profile</h1>
<%= @admin.username %><br />

<%= button_to "Edit", edit_admin_path(@admin) %>
<%= button_to "Delete", admin_path(@admin), method: :delete %>
<%## TODO: get link_to to delete. ###= link_to "Delete", admin_path(@admin), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
