<h1>Students</h1>
<%= render partial: 'shared/create_path', locals:{type: 'Student', new_path: new_student_path} %><br />
<%= render partial: 'shared/array_links', locals:{array: @students, method: 'username'} %>
