<h1>Profile</h1>

<%= render partial: 'layouts/user', locals: {user: @student } %>
<%= render partial: 'layouts/user_update_delete', locals: {edit_path: edit_student_path(@student), delete_path: student_path(@student)} %>

<h1>Courses</h1>
<% @student.courses.each do |course| %>
  <%= link_to course.name, course %><br />
<% end %>
