<h1>Teachers</h1>
<%= render partial: 'shared/create_path', locals:{type: 'Teacher', new_path: new_teacher_path} if @is_admin %><br />
<%= render partial: 'shared/array_links', locals:{array: @teachers, method: 'email'} %>
