<h1><%= course.name %></h1><%= "(#{course.status})" if course.status == 'draft' %><br />
<h2>Taught by: <%= course.teacher.nil? ? 'Unassigned' : link_to(course.teacher.email, course.teacher) %></h2>
<p><%= course.description %></p>
