<h1>Courses</h1>
<% @courses.each do |course| %>
  <h2><%= link_to course.name, course %></h2><br />
  <%= link_to course.teacher.email, teacher_courses_path(course.teacher) %><br />
  <%= course.description %><br /><br />
<% end %>
