<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #webpacker removed javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header></header>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/teachers'>Teachers</a></li>
      <li><a href='/students'>Students</a></li>
      <li><a href='/courses'>Courses</a></li>

      <% if !session[:user_id] || request.path_info != '/login' %>
        <li><a href='/login'>Log In</a></li>
      <% end %>
      <% if session[:user_id] %>
        <li><a href='/logout'>Log Out</a></li>
      <% end %>

    </ul>
    <%= yield %>
  </body>
</html>
